<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello</h1>
        <p>If you are seeing this page, then welcome! make yourself at home. Please enjoy the servies our
            flat has to offer.
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2><img src="/images/sickrage.ico" class="header-icon"/>SiCKRAGE</h2>
            <p>
                SickRage is a python project that automatically downloads our TV shows for us. It takes care of fetching torrents
                and post-processing our downloaded shows for us
            </p>
            <p><a class="btn btn-secondary" href="http://192.168.0.2:8081/home/" role="button">SiCKRAGE &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><img src="/images/transmission.png" class="header-icon"/>Transmission</h2>
            <p>Transmission our torrenting client that works through a VPN (hopefully). It has a nice web client you can look at</p>
            <p><a class="btn btn-secondary" href="http://192.168.0.2:9091/transmission/web/" role="button">Transmission &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><img src="/images/plex.png" class="header-icon"/>Plex</h2>
            <p>Enjoy the latest in Flatnassian's in-flat entertainment. We have plenty of movies and TV Shows for you to enjoy</p>
            <p><a class="btn btn-secondary" href="http://192.168.0.2:32400/web/index.html" role="button">Plex &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Samba Shares</h2>
            <p>
                Access our file stores directly. This is accessable on the following addresses. Authentication is required
            </p>
            <p><a href="\\192.168.0.2\Chris-Media\" role="button">\\192.168.0.2\Chris-Media\</a></p>
            <p><a href="\\192.168.0.2\Miki-Media\" role="button">\\192.168.0.2\Miki-Media\</a></p>
        </div>
        
        <div class="col-md-4">
            <h2>Wi-Fi</h2>
            <p>
                Access the best in internet access. If you are seeing this website, you already have access to it.
                Our networks are
            </p>
            <p>
                2.4 GHz: Potato <br />
                5 GHz: Tell My Wifi Love Her
            </p>
        </div>
        
        <div class="col-md-4">
            <h2>VPN</h2>
            <p>
                Coming soon
            </p>           
        </div>
    </div>
</div> 