<div class="container">
  <h1>SiCKRAGE</h1>
  <p id="sickrage_status">Getting Sickrage status</p>
  <p id="sickrage_pid"></p>
  <p id="sickrage_usage" class="console-font"></p>
  <div>
    <button id="start-sickrage" type="button" class="btn btn-success">Start Sickrage</button>
    <button id="stop-sickrage" type="button" class="btn btn-danger">Stop Sickrage</button>
</div>
</div>

<script>
  $(function () {
    $.ajax({
      url: '/sickrage/running',
      success: function (data) {
        if (data === '') {
          data = 'unknown';
        }

        $('#sickrage_status').html('Sickrage is: <em>' + data + '</em>');

        if (data === 'running') {
          $.ajax({
            url: '/sickrage/pid',
            success: function (data) {
              $('#sickrage_pid').html('Sickrage pid: <em>' + data + '</em>');
            }
          });

          $.ajax({
            url: '/sickrage/usage',
            success: function (data) {
              $('#sickrage_usage').html(data);
            }
          });
        }
      }
    });

    $('#start-sickrage').click(function () {
      $.ajax({
        url: '/sickrage/start',
        success: function (data) {
          location.reload();
        }
      });
    });

    $('#stop-sickrage').click(function () {
      $.ajax({
        url: '/sickrage/stop',
        success: function (data) {
          location.reload();
        }
      });
    });
  });
</script>